<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <%- include('./partials/style.ejs') %>

    {{#each pages}}
    <section class="Page">

        <header class="Container PaddingTopBottom">
            <div class="Logo">
                <img
                    src="https://cdn.shopify.com/s/files/1/2975/0102/files/Logo_3x_3d12bf52-f488-4b86-ab91-dd3e4f758ed5.png?v=1585510373" />
            </div>
            <div class="Store-Address">
                <h3 class="Light Font17 LH20 TextCenter">
                    3000 NE Andresen Road<br />Vancouver, WA 98661<br />360-696-8590
                </h3>

            </div>
            <div class="Date TextCenter LH27">
                <h3 class="Font27 SemiBold">INVOICE</h3>
                <h3 class="Font20 Light">{{ConvertDate ../date}}</h3>
            </div>
        </header>
        <div class="Container BorderLine"></div>
        <section class="CustomerInformation Container">
            <h3 class="Font16 LH20 FlexFill">
                {{../customer.name}}<br />
                {{#if ../address.street}}
                {{../address.street}}{{#if ../address.unit}}, {{../address.unit}}{{/if}}<br />{{../address.city}},
                {{../address.state}}
                {{../address.zip}}
                {{else}}
                &nbsp;
                <br />
                &nbsp;
                {{/if}}
            </h3>
            <h3 class="TextCenter Font16 LH20">
                {{#each ../customer.phone}}
                <br />{{#if comment}}{{comment}}: {{/if}}{{number}}
                {{/each}}
            </h3>
            <h3 class="TextRight Font16 LH20 FlexFill">
                {{#if ../estimatedStoreArrival}}
                <br />Estimated Store Arrival<br />{{../estimatedStoreArrival}} Weeks.
                {{else}}
                &nbsp;
                <br />
                &nbsp;
                {{/if}}
            </h3>
        </section>
        <div class="Container BorderLine"></div>
        <section class="{{#ifEquals index ../pagesLength}}ProductTable{{else}}ProductTable Additional{{/ifEquals}}">
            <table class="Container">
                <tr>
                    <th class="TextCenter Bold Font14">Qty</th>
                    <th class="TextLeft Description Bold Font14">Description</th>
                    <th class="TextCenter Bold Font14">Status</th>
                    <th class="TextCenter Bold Font14">Color</th>
                    <th class="TextCenter Bold Font14">Rate</th>

                    <th class="TextRight Bold Font14" style="width: 1px;">Amount</th>
                </tr>
                {{#each products}}
                <tr>
                    <td class="TextCenter Regular Font14">{{quantity}}</td>
                    <td class="Regular Font14">
                        {{vendorCollection}} {{title}}<br />{{vendor.name}} | {{sku}}
                        {{#each notes}}
                        <br />-{{ this }}
                        {{/each}}
                    </td>
                    <td class="TextCenter Regular Font14">{{status}}</td>
                    <td class="TextCenter Regular Font14">{{color}}</td>
                    <td class="TextCenter Regular Font14">${{price}}</td>
                    <td class="TextCenter Regular Font14">${{getTotal quantity price}}</td>
                </tr>

                {{/each}}
            </table>
        </section>
        {{#ifEquals index ../pagesLength}}
        <div class="Container BorderLine"></div>
        <section style="height: 230px;" class="FinePrint Container">
            <section style="width: 435px;">
                <div>
                    <h1 class="Font20">Thank you for your business</h1>
                </div>
                <div>
                    <h1 class="Font16 Italic">
                        Minimum $99 Charge on all deliveries.<br />No refunds on special
                        orders.
                    </h1>
                </div>
                <div class="LH15">
                    <h1 class="Font12 Light">
                        Color panels represent an average color which will vary in tone<br />and
                        hue due to natural grain variations and type of wood selected.
                    </h1>
                </div>
                {{#if ../militaryDiscount}}
                <div class="LH15">
                    <h1 class="Font12 Light">
                        Thank you for your service.
                    </h1>
                </div>
                {{/if}}

                <div class="LH15">
                    <h1 class="Font12 Light">
                        You Were Helped By {{../employee}}
                    </h1>
                </div>
                <div class="LH15">
                    <h1 class="Font16">
                        {{../note}}
                    </h1>
                </div>
                <div class="LH20">
                    {{!-- <h1 class="Font20">Happy with Our Service?</h1>
                <h1 class="Font12">
                    Visit VancouverWoodworks.com/Review to Tell the World!
                </h1> --}}
                </div>
            </section>
        </section>
        <section class="OrderTotals">
            <div class="Flex OrderTotalContainer">
                <div class="FlexFill LH25">
                    <h1 class="Font20">Item Total:</h1>
                    {{#if ../militaryDiscount}}
                    <h1 class="Font20">Military Discount:</h1>
                    {{/if}}
                    {{#if ../delivery}}
                    <h1 class="Font20">Delivery Fee:</h1>
                    {{/if}}

                    <h1 class="Font20">Sales Tax ({{getTaxPercent ../salesTaxRate }}%):</h1>
                    <h1 class="Font20">Subtotal:</h1>
                    <h1 class="Font20">Deposit:</h1>
                    {{#unless ../delivery}}
                    <h1 class="Font20"><br /></h1>
                    {{/unless}}
                    {{#unless ../militaryDiscount}}
                    <h1 class="Font20"><br /></h1>
                    {{/unless}}
                    <h1 class="Font20"><br /></h1>
                    <h1 class="Font20 Bold">Total Due:</h1>
                </div>
                <div class="LH25 TextRight">
                    <h1 class="Font20">${{../itemTotal}}</h1>
                    {{#if ../militaryDiscount}}
                    <h1 class="Font20">-${{../discount}}</h1>
                    {{/if}}
                    {{#if ../delivery}}
                    <h1 class="Font20">${{../deliveryFee}}</h1>
                    {{/if}}
                    <h1 class="Font20">${{../salesTax}}</h1>
                    <h1 class="Font20">${{../subTotal}}</h1>
                    <h1 class="Font20">${{../deposit}}</h1>
                    {{#unless ../delivery}}
                    <h1 class="Font20"><br /></h1>
                    {{/unless}}
                    {{#unless ../militaryDiscount}}
                    <h1 class="Font20"><br /></h1>
                    {{/unless}}
                    <h1 class="Font20"><br /></h1>
                    <h1 class="Font20 Bold">${{../totalDue}}</h1>
                </div>
            </div>
        </section>
        <div class="Container BorderLine"></div>
        <section style="height: 122px;">
            <div class="CustomerSignature">
                <div class="BorderLine"></div>
                <h1 class="SemiBold">Customer Signature</h1>
            </div>
        </section>
        {{/ifEquals}}
        <div class="Container BorderLine"></div>
        <footer class="Container TextCenter">
            <h1 class="Font17">www.VancouverWoodworks.com</h1>
            <h1 class="PageCount">Page {{index}} of {{../pagesLength}}</h1>
        </footer>
    </section>
    {{/each}}

</body>

</html>