<header class="Container PaddingTopBottom">
    <div class="Logo">
        <img
            src="https://cdn.shopify.com/s/files/1/2975/0102/files/Logo_3x_3d12bf52-f488-4b86-ab91-dd3e4f758ed5.png?v=1585510373" />
    </div>
    <div class="Store-Address">
        <h3 class="Light Font17 LH20 TextCenter">
            3000 NE Andresen Road<br />Vancouver, WA 98661<br />360-696-8590
        </h3>

    </div>
    <div class="Date TextCenter LH27">
        <h3 class="Font27 SemiBold"><%= type %></h3>
        <h3 class="Font20 Light"><%= helpers.ConvertDate(date); %></h3>
    </div>
</header>